interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/vaults?api-version=2016-06-01
  response:
    body: {string: '{"value":[{"location":"southeastasia","name":"panbhatest1","etag":"W/\"datetime''2017-03-24T07%3A50%3A57.8294536Z''\"","properties":{"provisioningState":"Succeeded"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/panbharg1/providers/Microsoft.RecoveryServices/vaults/panbhatest1","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"RS0","tier":"Standard"}},{"location":"southeastasia","name":"zakinkhTestVault1","etag":"W/\"datetime''2017-03-24T07%3A50%3A58.0604722Z''\"","properties":{"provisioningState":"Succeeded"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zakinkhatest1/providers/Microsoft.RecoveryServices/vaults/zakinkhTestVault1","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"RS0","tier":"Standard"}},{"location":"japaneast","name":"samvault1","etag":"W/\"datetime''2017-03-24T07%3A50%3A58.2241529Z''\"","properties":{"provisioningState":"Succeeded"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/samrg1/providers/Microsoft.RecoveryServices/vaults/samvault1","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"RS0","tier":"Standard"}}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-original-request-ids: [4e10e802-463c-4e15-9e0d-231f5815047f, 4e10e802-463c-4e15-9e0d-231f5815047f]
    status: {code: 200, message: OK}
version: 1
