interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pstestrg/providers/Microsoft.RecoveryServices/vaults/pstestrsvault?api-version=2016-06-01
  response:
    body: {string: '{"location":"westus","name":"pstestrsvault","etag":"W/\"datetime''2017-04-27T12%3A47%3A15.1398272Z''\"","properties":{"provisioningState":"Succeeded"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pstestrg/providers/Microsoft.RecoveryServices/vaults/pstestrsvault","type":"Microsoft.RecoveryServices/vaults","sku":{"name":"Standard"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/Subscriptions/f7424430-103b-4ba3-bd9e-b6f0986f848a/resourceGroups/pstestrg/providers/Microsoft.RecoveryServices/vaults/pstestrsvault/backupPolicies?api-version=2016-12-01
  response:
    body: {string: '{"value":[{"id":"/Subscriptions/f7424430-103b-4ba3-bd9e-b6f0986f848a/resourceGroups/pstestrg/providers/Microsoft.RecoveryServices/vaults/pstestrsvault/backupPolicies/DefaultPolicy","name":"DefaultPolicy","type":"Microsoft.RecoveryServices/vaults/backupPolicies","properties":{"backupManagementType":"AzureIaasVM","schedulePolicy":{"schedulePolicyType":"SimpleSchedulePolicy","scheduleRunFrequency":"Daily","scheduleRunTimes":["2016-04-04T16:00:00"],"scheduleWeeklyFrequency":0},"retentionPolicy":{"retentionPolicyType":"LongTermRetentionPolicy","dailySchedule":{"retentionTimes":["2016-04-04T16:00:00"],"retentionDuration":{"count":30,"durationType":"Days"}}},"protectedItemsCount":0}}]}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pstestrg/providers/Microsoft.Compute/virtualMachines/pstestv2vm2?api-version=2017-03-30
  response:
    body: {string: "{\r\n  \"properties\": {\r\n    \"vmId\": \"508b2c95-840b-4b4e-8f7a-4cb7092cce5f\"\
        ,\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_A1\"\r\n \
        \   },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n   \
        \     \"publisher\": \"MicrosoftWindowsServer\",\r\n        \"offer\": \"\
        WindowsServer\",\r\n        \"sku\": \"2012-R2-Datacenter\",\r\n        \"\
        version\": \"latest\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\"\
        : \"Windows\",\r\n        \"name\": \"pstestv2vm2\",\r\n        \"createOption\"\
        : \"FromImage\",\r\n        \"vhd\": {\r\n          \"uri\": \"https://pstestrg4762.blob.core.windows.net/vhds/pstestv2vm2201653163144.vhd\"\
        \r\n        },\r\n        \"caching\": \"ReadWrite\"\r\n      },\r\n     \
        \ \"dataDisks\": []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\"\
        : \"pstestv2vm2\",\r\n      \"adminUsername\": \"samuel\",\r\n      \"windowsConfiguration\"\
        : {\r\n        \"provisionVMAgent\": true,\r\n        \"enableAutomaticUpdates\"\
        : true\r\n      },\r\n      \"secrets\": []\r\n    },\r\n    \"networkProfile\"\
        : {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pstestrg/providers/Microsoft.Network/networkInterfaces/pstestv2vm2465\"\
        }]},\r\n    \"diagnosticsProfile\": {\r\n      \"bootDiagnostics\": {\r\n\
        \        \"enabled\": true,\r\n        \"storageUri\": \"https://pstestrg4762.blob.core.windows.net/\"\
        \r\n      }\r\n    },\r\n    \"provisioningState\": \"Succeeded\"\r\n  },\r\
        \n  \"resources\": [\r\n    {\r\n      \"properties\": {\r\n        \"publisher\"\
        : \"Microsoft.Azure.Diagnostics\",\r\n        \"type\": \"IaaSDiagnostics\"\
        ,\r\n        \"typeHandlerVersion\": \"1.5\",\r\n        \"autoUpgradeMinorVersion\"\
        : true,\r\n        \"settings\": {\"xmlCfg\":\"PFdhZENmZz48RGlhZ25vc3RpY01vbml0b3JDb25maWd1cmF0aW9uIHhtbG5zPSJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL1NlcnZpY2VIb3N0aW5nLzIwMTAvMTAvRGlhZ25vc3RpY3NDb25maWd1cmF0aW9uIiBvdmVyYWxsUXVvdGFJbk1CPSI0MDk2Ij48RGlhZ25vc3RpY0luZnJhc3RydWN0dXJlTG9ncyBzY2hlZHVsZWRUcmFuc2ZlclBlcmlvZD0iUFQxTSIgc2NoZWR1bGVkVHJhbnNmZXJMb2dMZXZlbEZpbHRlcj0iV2FybmluZyIvPjxXaW5kb3dzRXZlbnRMb2cgc2NoZWR1bGVkVHJhbnNmZXJQZXJpb2Q9IlBUMU0iPjxEYXRhU291cmNlIG5hbWU9IlNlY3VyaXR5ISpbU3lzdGVtWyhMZXZlbCA9IDEpIG9yIChMZXZlbCA9IDIpXV0iLz48RGF0YV[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/Subscriptions/f7424430-103b-4ba3-bd9e-b6f0986f848a/resourceGroups/pstestrg/providers/Microsoft.RecoveryServices/vaults/pstestrsvault/backupProtectableItems?api-version=2016-12-01&$filter=backupManagementType%20eq%20%27AzureIaasVM%27
  response:
    body: {string: '{"value":[{"id":"/Subscriptions/f7424430-103b-4ba3-bd9e-b6f0986f848a/resourceGroups/pstestrg/providers/Microsoft.RecoveryServices/vaults/pstestrsvault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;psbvtautovmrg;psbvtautovm/protectableItems/vm;iaasvmcontainerv2;psbvtautovmrg;psbvtautovm","name":"iaasvmcontainerv2;psbvtautovmrg;psbvtautovm","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectableItems","properties":{"virtualMachineId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/psbvtautovmrg/providers/Microsoft.Compute/virtualMachines/psbvtautovm","virtualMachineVersion":"Compute","resourceGroup":"psbvtautovmrg","backupManagementType":"AzureIaasVM","protectableItemType":"Microsoft.Compute/virtualMachines","friendlyName":"psbvtautovm","protectionState":"NotProtected"}},{"id":"/Subscriptions/f7424430-103b-4ba3-bd9e-b6f0986f848a/resourceGroups/pstestrg/providers/Microsoft.RecoveryServices/vaults/pstestrsvault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;pstestrg;capsvm/protectableItems/vm;iaasvmcontainerv2;pstestrg;capsvm","name":"iaasvmcontainerv2;pstestrg;capsvm","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectableItems","properties":{"virtualMachineId":"/subscriptions/00000000-[...]
[...]
- request:
    body: '{"properties": {"sourceResourceId": "/subscriptions/f7424430-103b-4ba3-bd9e-b6f0986f848a/resourceGroups/pstestrg/providers/Microsoft.Compute/virtualMachines/pstestv2vm2",
      "protectedItemType": "Microsoft.Compute/virtualMachines", "policyId": "/Subscriptions/f7424430-103b-4ba3-bd9e-b6f0986f848a/resourceGroups/pstestrg/providers/Microsoft.RecoveryServices/vaults/pstestrsvault/backupPolicies/DefaultPolicy"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/Subscriptions/f7424430-103b-4ba3-bd9e-b6f0986f848a/resourceGroups/pstestrg/providers/Microsoft.RecoveryServices/vaults/pstestrsvault/backupFabrics/Azure/protectionContainers/IaasVMContainer%3Biaasvmcontainerv2%3Bpstestrg%3Bpstestv2vm2/protectedItems/vm%3Biaasvmcontainerv2%3Bpstestrg%3Bpstestv2vm2?api-version=2016-12-01
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/Subscriptions/f7424430-103b-4ba3-bd9e-b6f0986f848a/resourceGroups/pstestrg/providers/Microsoft.RecoveryServices/vaults/pstestrsvault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;pstestrg;pstestv2vm2/protectedItems/vm;iaasvmcontainerv2;pstestrg;pstestv2vm2/operationsStatus/af256288-4c5c-4a5a-bec9-3f7d8c0f4c87?api-version=2016-12-01']
      location: ['https://management.azure.com/Subscriptions/f7424430-103b-4ba3-bd9e-b6f0986f848a/resourceGroups/pstestrg/providers/Microsoft.RecoveryServices/vaults/pstestrsvault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;pstestrg;pstestv2vm2/protectedItems/vm;iaasvmcontainerv2;pstestrg;pstestv2vm2/operationResults/af256288-4c5c-4a5a-bec9-3f7d8c0f4c87?api-version=2016-12-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/Subscriptions/f7424430-103b-4ba3-bd9e-b6f0986f848a/resourceGroups/pstestrg/providers/Microsoft.RecoveryServices/vaults/pstestrsvault/backupOperations/af256288-4c5c-4a5a-bec9-3f7d8c0f4c87?api-version=2016-12-01
  response:
    body: {string: '{"id":"af256288-4c5c-4a5a-bec9-3f7d8c0f4c87","name":"af256288-4c5c-4a5a-bec9-3f7d8c0f4c87","status":"InProgress","startTime":"2017-07-17T14:03:41.2558055Z","endTime":"0001-01-01T00:00:00"}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/Subscriptions/f7424430-103b-4ba3-bd9e-b6f0986f848a/resourceGroups/pstestrg/providers/Microsoft.RecoveryServices/vaults/pstestrsvault/backupOperations/af256288-4c5c-4a5a-bec9-3f7d8c0f4c87?api-version=2016-12-01
  response:
    body: {string: '{"id":"af256288-4c5c-4a5a-bec9-3f7d8c0f4c87","name":"af256288-4c5c-4a5a-bec9-3f7d8c0f4c87","status":"Succeeded","startTime":"2017-07-17T14:03:41.2558055Z","endTime":"2017-07-17T14:03:41.2558055Z","properties":{"objectType":"OperationStatusJobExtendedInfo","jobId":"cfaca992-15c7-46fe-aa49-c03108868043"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/Subscriptions/f7424430-103b-4ba3-bd9e-b6f0986f848a/resourceGroups/pstestrg/providers/Microsoft.RecoveryServices/vaults/pstestrsvault/backupProtectionContainers?api-version=2016-12-01&$filter=status%20eq%20%27Registered%27%20and%20friendlyName%20eq%20%27pstestv2vm2%27%20and%20backupManagementType%20eq%20%27AzureIaasVM%27
  response:
    body: {string: '{"value":[{"id":"/Subscriptions/f7424430-103b-4ba3-bd9e-b6f0986f848a/resourceGroups/pstestrg/providers/Microsoft.RecoveryServices/vaults/pstestrsvault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;pstestrg;pstestv2vm2","name":"IaasVMContainer;iaasvmcontainerv2;pstestrg;pstestv2vm2","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers","properties":{"virtualMachineId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pstestrg/providers/Microsoft.Compute/virtualMachines/pstestv2vm2","virtualMachineVersion":"Compute","resourceGroup":"pstestrg","friendlyName":"pstestv2vm2","backupManagementType":"AzureIaasVM","registrationStatus":"Registered","healthStatus":"Healthy","containerType":"Microsoft.Compute/virtualMachines","protectableObjectType":"Microsoft.Compute/virtualMachines"}}]}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/Subscriptions/f7424430-103b-4ba3-bd9e-b6f0986f848a/resourceGroups/pstestrg/providers/Microsoft.RecoveryServices/vaults/pstestrsvault/backupProtectedItems?api-version=2016-12-01&$filter=backupManagementType%20eq%20%27AzureIaasVM%27
  response:
    body: {string: '{"value":[{"id":"/Subscriptions/f7424430-103b-4ba3-bd9e-b6f0986f848a/resourceGroups/pstestrg/providers/Microsoft.RecoveryServices/vaults/pstestrsvault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;pstestrg;pstestv2vm2/protectedItems/VM;iaasvmcontainerv2;pstestrg;pstestv2vm2","name":"VM;iaasvmcontainerv2;pstestrg;pstestv2vm2","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems","properties":{"friendlyName":"pstestv2vm2","virtualMachineId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pstestrg/providers/Microsoft.Compute/virtualMachines/pstestv2vm2","protectionStatus":"Healthy","protectionState":"IRPending","healthStatus":"Passed","lastBackupStatus":"","lastBackupTime":"2001-01-01T00:00:00Z","protectedItemDataId":"52776941793090","protectedItemType":"Microsoft.Compute/virtualMachines","backupManagementType":"AzureIaasVM","workloadType":"VM","containerName":"iaasvmcontainerv2;pstestrg;pstestv2vm2","sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pstestrg/providers/Microsoft.Compute/virtualMachines/pstestv2vm2","policyId":"/Subscriptions/f7424430-103b-4ba3-bd9e-b6f0986f848a/resourceGroups/pstestrg/providers/Microsoft.RecoveryServices/vaults/pstestrsvault/backupPolicies/DefaultPolicy","policyName":"DefaultPolicy"}}]}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/Subscriptions/f7424430-103b-4ba3-bd9e-b6f0986f848a/resourceGroups/pstestrg/providers/Microsoft.RecoveryServices/vaults/pstestrsvault/backupFabrics/Azure/protectionContainers/IaasVMContainer%3Biaasvmcontainerv2%3Bpstestrg%3Bpstestv2vm2/protectedItems/VM%3Biaasvmcontainerv2%3Bpstestrg%3Bpstestv2vm2?api-version=2016-12-01
  response:
    body: {string: ''}
    headers:
      azure-asyncoperation: ['https://management.azure.com/Subscriptions/f7424430-103b-4ba3-bd9e-b6f0986f848a/resourceGroups/pstestrg/providers/Microsoft.RecoveryServices/vaults/pstestrsvault/backupOperations/1ac46512-83b2-4d0a-bcf4-086c711b614d?api-version=2016-12-01']
      location: ['https://management.azure.com/Subscriptions/f7424430-103b-4ba3-bd9e-b6f0986f848a/resourceGroups/pstestrg/providers/Microsoft.RecoveryServices/vaults/pstestrsvault/backupOperationResults/1ac46512-83b2-4d0a-bcf4-086c711b614d?api-version=2016-12-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/Subscriptions/f7424430-103b-4ba3-bd9e-b6f0986f848a/resourceGroups/pstestrg/providers/Microsoft.RecoveryServices/vaults/pstestrsvault/backupOperations/1ac46512-83b2-4d0a-bcf4-086c711b614d?api-version=2016-12-01
  response:
    body: {string: '{"id":"1ac46512-83b2-4d0a-bcf4-086c711b614d","name":"1ac46512-83b2-4d0a-bcf4-086c711b614d","status":"Succeeded","startTime":"2017-07-17T14:05:08.3877987Z","endTime":"2017-07-17T14:05:08.3877987Z","properties":{"objectType":"OperationStatusJobExtendedInfo","jobId":"0fac4149-60e2-4134-862c-60cb160100c1"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
