interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/shracrg/providers/Microsoft.RecoveryServices/vaults/shracsql/backupProtectionContainers?api-version=2016-12-01&$filter=backupManagementType%20eq%20%27AzureWorkload%27%20and%20friendlyName%20eq%20%27shrac3%27%20and%20status%20eq%20%27Registered%27
  response:
    body:
      string: '{"value":[{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/shracrg/providers/Microsoft.RecoveryServices/vaults/shracsql/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;shracrg;shrac3","name":"VMAppContainer;Compute;shracrg;shrac3","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers","properties":{"sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/shracrg/providers/Microsoft.Compute/virtualMachines/shrac3","lastUpdatedTime":"2018-11-30T16:56:14.0933848Z","extendedInfo":{"hostServerName":"shrac3","inquiryInfo":{"status":"Success","errorDetail":{"code":"Success","message":"","recommendations":[""]},"inquiryDetails":[{"type":"SQL","itemCount":698,"inquiryValidation":{"status":"Success","errorDetail":{"code":"Success","message":"","recommendations":[""]}}}]}},"friendlyName":"shrac3","backupManagementType":"AzureWorkload","registrationStatus":"Registered","healthStatus":"Healthy","containerType":"VMAppContainer","protectableObjectType":"VMAppContainer"}}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/shracrg/providers/Microsoft.RecoveryServices/vaults/shracsql/backupProtectedItems?api-version=2017-07-01&$filter=backupManagementType%20eq%20%27AzureWorkload%27%20and%20itemType%20eq%20%27SQLDataBase%27
  response:
    body:
      string: '{"value":[{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/shracrg/providers/Microsoft.RecoveryServices/vaults/shracsql/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;shracrg;shrac2/protectedItems/SQLDataBase;mssqlserver;dogfooddb103","name":"SQLDataBase;mssqlserver;dogfooddb103","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems","properties":{"friendlyName":"dogfooddb103","serverName":"shrac2","parentName":"MSSQLSERVER","parentType":"AzureVmWorkloadSQLInstance","protectionStatus":"Healthy","protectionState":"ProtectionStopped","lastBackupStatus":"Healthy","lastBackupTime":"2019-03-25T10:20:59.1972802Z","protectedItemDataSourceId":"70370218255682","protectedItemHealthStatus":"NotReachable","protectedItemType":"AzureVmWorkloadSQLDatabase","backupManagementType":"AzureWorkload","workloadType":"SQLDataBase","containerName":"VMAppContainer;compute;shracrg;shrac2","sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/shracrg/providers/Microsoft.Compute/virtualMachines/shrac2"}},{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/shracrg/providers/Microsoft.RecoveryServices/vaults/shracsql/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;shracrg;shrac3/protectedItems/SQLDataBase;mssqlserver;msdb","name":"SQLDataBase;mssqlserver;msdb","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems","properties":{"friendlyName":"msdb","serverName":"shrac3","parentName":"MSSQLSERVER","parentType":"AzureVmWorkloadSQLInstance","protectionStatus":"Healthy","protectionState":"IRPending","lastBackupStatus":"Healthy","lastBackupTime":"2019-05-14T10:01:33.2608595Z","protectedItemDataSourceId":"70369317418680","protectedItemHealthStatus":"NotReachable","protectedItemType":"AzureVmWorkloadSQLDatabase","backupManagementType":"AzureWorkload","workloadType":"SQLDataBase","containerName":"VMAppContainer;compute;shracrg;shrac3","sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/shracrg/providers/Microsoft.Compute/virtualMachines/shrac3","policyId":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/shracrg/providers/Microsoft.RecoveryServices/vaults/shracsql/backupPolicies/testsql1"}},{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/shracrg/providers/Microsoft.RecoveryServices/vaults/shracsql/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;shracrg;shrac3/protectedItems/SQLDataBase;mssqlserver;prodshrac90","name":"SQLDataBase;mssqlserver;prodshrac90","type":"Microsoft.RecoveryService[...]
[...]
