interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupFabrics/Azure/protectableContainers?api-version=2016-12-01&$filter=backupManagementType%20eq%20%27AzureWorkload%27
  response:
    body:
      string: '{"value":[{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupFabrics/Azure/protectableContainers/VMAppContainer;Compute;IDCDemo;HANADemoIDC3","name":"VMAppContainer;Compute;IDCDemo;HANADemoIDC3","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectableContainers","properties":{"friendlyName":"HANADemoIDC3","backupManagementType":"AzureWorkload","protectableContainerType":"VMAppContainer","healthStatus":"Healthy","containerId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.Compute/virtualMachines/HANADemoIDC3"}},{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupFabrics/Azure/protectableContainers/VMAppContainer;Compute;IDCDemo;hanajb","name":"VMAppContainer;Compute;IDCDemo;hanajb","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectableContainers","properties":{"fri[...]
- request:
    body: '{"properties": {"backupManagementType": "AzureWorkload", "containerType":
      "VMAppContainer", "sourceResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.Compute/virtualMachines/HANADemoIDC3",
      "workloadType": "SAPHanaDatabase"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3BIDCDemo%3BHANADemoIDC3?api-version=2016-12-01
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json
      location:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;IDCDemo;HANADemoIDC3/operationResults/c6428ed8-8397-48df-bb0b-8dd5d0fd20a9?api-version=2016-12-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3BIDCDemo%3BHANADemoIDC3/operationResults/c6428ed8-8397-48df-bb0b-8dd5d0fd20a9?api-version=2016-12-01
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json
      location:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;IDCDemo;HANADemoIDC3/operationResults/c6428ed8-8397-48df-bb0b-8dd5d0fd20a9?api-version=2016-12-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3BIDCDemo%3BHANADemoIDC3/operationResults/c6428ed8-8397-48df-bb0b-8dd5d0fd20a9?api-version=2016-12-01
  response:
    body:
      string: '{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;IDCDemo;HANADemoIDC3","name":"VMAppContainer;Compute;IDCDemo;HANADemoIDC3","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers","properties":{"sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.Compute/virtualMachines/HANADemoIDC3","lastUpdatedTime":"2019-06-28T10:24:12.2634606Z","extendedInfo":{"hostServerName":"HANADemoIDC3","inquiryInfo":{"status":"Success","errorDetail":{"code":"Success","message":"","recommendations":[""]},"inquiryDetails":[{"type":"SAPHana","itemCount":2,"inquiryValidation":{"status":"Success","errorDetail":{"code":"Success","message":"","recommendations":[""]},"additionalDetail":""}}]}},"friendlyName":"HANADemoIDC3","backupManagementType":"AzureWorkload","registrationStatus":"Registered","healthStatus":"Healthy","containerType":"VMAppContainer","protectableObjectType":"VMAppContainer"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupProtectionContainers?api-version=2016-12-01&$filter=backupManagementType%20eq%20%27AzureWorkload%27%20and%20status%20eq%20%27Registered%27
  response:
    body:
      string: '{"value":[{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/pr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupProtectableItems?api-version=2016-12-01&$filter=backupManagementType%20eq%20%27AzureWorkload%27%20and%20workloadType%20eq%20%27SAPHanaDatabase%27
  response:
    body:
      string: '{"value":[{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupFabrics/Azure/protectionContainers/vmappcontainer;compute;idcdemo;hanademoidc1/protectableItems/saphanasystem;h20","name":"saphanasystem;h20","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectableItems","properties":{"parentName":"H20","serverName":"HANADemoIDC1","isAutoProtectable":false,"isAutoProtected":false,"subinquireditemcount":2,"subprotectableitemcount":2,"IsProtectable":true,"backupManagementType":"AzureWorkload","workloadType":"SAPHana","protectableItemType":"SAPHanaSystem","friendlyName":"H20","protectionState":"NotProtected"}},{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupFabrics/Azure/protectionContainers/vmappcontainer;compute;idcdemo;hanademoidc1/protectableItems/saphanadatabase;h20;h20","name":"saphanadatabase;h20;h20","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectableItems","properties":{"parentName":"H20","serverName":"HANADemoIDC1","isAutoProtectable":false,"i[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupPolicies/HourlyLogBackup?api-version=2016-12-01
  response:
    body:
      string: '{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupPolicies/HourlyLogBackup","name":"HourlyLogBackup","type":"Microsoft.RecoveryServices/vaults/backupPolicies","properties":{"backupManagementType":"AzureWorkload","workLoadType":"SQLDataBase","settings":{"timeZone":"UTC","issqlcompression":false,"isCompression":false},"subProtectionPolicy":[{"policyType":"Full","schedulePolicy":{"schedulePolicyType":"SimpleSchedulePolicy","scheduleRunFrequency":"Daily","scheduleRunTimes":["2019-05-13T21:00:00Z"],"scheduleWeeklyFrequency":0},"retentionPolicy":{"retentionPolicyType":"LongTermRetentionPolicy","dailySchedule":{"retentionTimes":["2019-05-13T21:00:00Z"],"retentionDuration":{"count":30,"durationType":"Days"}}}},{"policyType":"Log","schedulePolicy":{"schedulePolicyType":"LogSchedulePolicy","scheduleFrequencyInMins":60},"retentionPolicy":{"retentionPolicyType":"SimpleRetentionPolicy","retentionDuration":{"count":30,"durationType":"Days"}}}],"protectedItemsCount":0}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"backupManagementType": "AzureWorkload", "workloadType":
      "SAPHanaDatabase", "policyId": "/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupPolicies/HourlyLogBackup",
      "protectedItemType": "AzureVmWorkloadSAPHanaDatabase"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupFabrics/Azure/protectionContainers/vmappcontainer%3Bcompute%3Bidcdemo%3Bhanademoidc3/protectedItems/saphanadatabase%3Bh22%3Bh22?api-version=2016-12-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupFabrics/Azure/protectionContainers/vmappcontainer;compute;idcdemo;hanademoidc3/protectedItems/saphanadatabase;h22;h22/operationsStatus/3d0db265-4973-4e83-a294-d244b4157ba3?api-version=2016-12-01
      location:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupFabrics/Azure/protectionContainers/vmappcontainer;compute;idcdemo;hanademoidc3/protectedItems/saphanadatabase;h22;h22/operationResults/3d0db265-4973-4e83-a294-d244b4157ba3?api-version=2016-12-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupOperations/3d0db265-4973-4e83-a294-d244b4157ba3?api-version=2016-12-01
  response:
    body:
      string: '{"id":"3d0db265-4973-4e83-a294-d244b4157ba3","name":"3d0db265-4973-4e83-a294-d244b4157ba3","status":"InProgress","startTime":"2019-06-28T10:25:49.1370647Z","endTime":"0001-01-01T00:00:00"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupOperations/3d0db265-4973-4e83-a294-d244b4157ba3?api-version=2016-12-01
  response:
    body:
      string: '{"id":"3d0db265-4973-4e83-a294-d244b4157ba3","name":"3d0db265-4973-4e83-a294-d244b4157ba3","status":"Succeeded","startTime":"2019-06-28T10:25:49.1370647Z","endTime":"2019-06-28T10:25:49.1370647Z","properties":{"objectType":"OperationStatusJobExtendedInfo","jobId":"6091e8df-efa0-415d-b254-3e56f5bc669d"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupJobs/6091e8df-efa0-415d-b254-3e56f5bc669d?api-version=2017-07-01
  response:
    body:
      string: '{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupJobs/6091e8df-efa0-415d-b254-3e56f5bc669d","name":"6091e8df-efa0-415d-b254-3e56f5bc669d","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureWorkloadJob","workloadType":"SAPHanaDatabase","duration":"PT1M14.8809792S","extendedInfo":{"tasksList":[],"propertyBag":{"Policy
        Name":"HourlyLogBackup"}},"entityFriendlyName":"h22","backupManagementType":"AzureWorkload","operation":"ConfigureBackup","status":"Completed","startTime":"2019-06-28T10:25:49.1550537Z","endTime":"2019-06-28T10:27:04.0360329Z","activityId":"180f5cae-998f-11e9-bb6d-3c52826c1986"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"objectType": "AzureWorkloadBackupRequest", "backupType":
      "Full", "enableCompression": false, "recoveryPointExpiryTimeInUTC": "2019-07-01T00:00:00.000Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupFabrics/Azure/protectionContainers/vmappcontainer%3Bcompute%3BIDCDemo%3BHANADemoIDC3/protectedItems/SAPHanaDatabase%3Bh22%3Bh22/backup?api-version=2016-12-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupFabrics/Azure/protectionContainers/vmappcontainer;compute;IDCDemo;HANADemoIDC3/protectedItems/SAPHanaDatabase;h22;h22/operationsStatus/f4c9080b-19f5-4b2e-bbc0-b6bcbab0420b?api-version=2016-12-01
      location:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupFabrics/Azure/protectionContainers/vmappcontainer;compute;IDCDemo;HANADemoIDC3/protectedItems/SAPHanaDatabase;h22;h22/operationResults/f4c9080b-19f5-4b2e-bbc0-b6bcbab0420b?api-version=2016-12-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupJobs/4703ec55-078a-4e91-a012-b845d7a7e1bf?api-version=2017-07-01
  response:
    body:
      string: '{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupJobs/4703ec55-078a-4e91-a012-b845d7a7e1bf","name":"4703ec55-078a-4e91-a012-b845d7a7e1bf","type":"Microsoft.RecoveryServices/vaults/backupJobs","properties":{"jobType":"AzureWorkloadJob","workloadType":"SAPHanaDatabase","duration":"PT13.1746681S","actionsInfo":[1],"extendedInfo":{"tasksList":[{"taskId":"Transfer
        data to vault","status":"InProgress"}],"propertyBag":{}},"entityFriendlyName":"H22/H22
        [HANADemoIDC3]","backupManagementType":"AzureWorkload","operation":"Backup","status":"InProgress","startTime":"2019-06-28T10:27:18.3238262Z","activityId":"470f880a-998f-11e9-8140-3c52826c1986"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupProtectedItems?api-version=2017-07-01&$filter=backupManagementType%20eq%20%27AzureWorkload%27%20and%20itemType%20eq%20%27SAPHanaDatabase%27
  response:
    body:
      string: '{"value":[{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupFabrics/Azure/protectionContainers/VMAppContainer;compute;idcdemo;hanademoidc3/protectedItems/SAPHanaDatabase;h22;h22","name":"SAPHanaDatabase;h22;h22","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems","properties":{"friendlyName":"h22","serverName":"HANADemoIDC3","parentName":"H22","parentType":"AzureVmWorkloadSAPHanaSystem","protectionStatus":"Healthy","protectionState":"Protected","lastBackupStatus":"Healthy","lastBackupTime":"2019-06-28T10:27:34.1443899Z","protectedItemDataSourceId":"1634672280","protectedItemHealthStatus":"Healthy","protectedItemType":"AzureVmWorkloadSAPHanaDatabase","backupManagementType":"AzureWorkload","workloadType":"SAPHanaDatabase","containerName":"VMAppContainer;compute;idcdemo;hanademoidc3","sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/idcdemo/providers/Microsoft.Compute/virtualMachines/hanademoidc3","policyId":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupPolicies/HourlyLogBackup"}}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"policyId": "", "protectedItemType": "AzureVmWorkloadSAPHanaDatabase",
      "protectionState": "ProtectionStopped"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupFabrics/Azure/protectionContainers/vmappcontainer%3Bcompute%3BIDCDemo%3BHANADem[...]
[...]
