interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupFabrics/Azure/protectableContainers?api-version=2016-12-01&$filter=backupManagementType%20eq%20%27AzureWorkload%27
  response:
    body:
      string: '{"value":[{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupFabrics/Azure/protectableContainers/VMAppContainer;Compute;IDCDemo;HANADemoIDC3","name":"VMAppContainer;Compute;IDCDemo;HANADemoIDC3","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectableContainers","properties":{"friendlyName":"HANADemoIDC3","backupManagementType":"AzureWorkload","protectableContainerType":"VMAppContainer","healthStatus":"Healthy","containerId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.Compute/virtualMachines/HANADemoIDC3"}},{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupFabrics/Azure/protectableContainers/VMAppContainer;Compute;IDCDemo;hanajb","name":"VMAppContainer;Compute;IDCDemo;hanajb","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectableContainers","properties":{"fri[...]
- request:
    body: '{"properties": {"backupManagementType": "AzureWorkload", "containerType":
      "VMAppContainer", "sourceResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.Compute/virtualMachines/HANADemoIDC3",
      "workloadType": "SAPHanaDatabase"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3BIDCDemo%3BHANADemoIDC3?api-version=2016-12-01
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json
      location:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;IDCDemo;HANADemoIDC3/operationResults/bce6bc63-c975-4034-aef8-e2132e3a45b3?api-version=2016-12-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3BIDCDemo%3BHANADemoIDC3/operationResults/bce6bc63-c975-4034-aef8-e2132e3a45b3?api-version=2016-12-01
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json
      location:
      - https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;IDCDemo;HANADemoIDC3/operationResults/bce6bc63-c975-4034-aef8-e2132e3a45b3?api-version=2016-12-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupFabrics/Azure/protectionContainers/VMAppContainer%3BCompute%3BIDCDemo%3BHANADemoIDC3/operationResults/bce6bc63-c975-4034-aef8-e2132e3a45b3?api-version=2016-12-01
  response:
    body:
      string: '{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;IDCDemo;HANADemoIDC3","name":"VMAppContainer;Compute;IDCDemo;HANADemoIDC3","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers","properties":{"sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.Compute/virtualMachines/HANADemoIDC3","lastUpdatedTime":"2019-07-05T09:00:34.1333681Z","extendedInfo":{"hostServerName":"HANADemoIDC3","inquiryInfo":{"status":"Failed","errorDetail":{"code":"UserErrorHANASystemDBNotRunning","message":"SYSTEMDB
        for HANA is not in running state.","recommendations":["Please start the SAP
        HANA system by running the command ''HDB start'' as the sidadm user and retry
        the operation."]},"inquiryDetails":[{"type":"SAPHana","itemCount":0,"inquiryValidation":{"status":"Failed","errorDetail":{"code":"UserErrorHANASystemDBNotRunning","message":"SYSTEMDB
        for HANA is not in running state.","recommendations":["Please start the SAP
        HANA system by running the command ''HDB start'' as the sidadm user and retry
        the operation."]},"additionalDetail":""}}]}},"friendlyName":"HANADemoIDC3","backupManagementType":"AzureWorkload","registrationStatus":"Registered","healthStatus":"Healthy","containerType":"VMAppContainer","protectableObjectType":"VMAppContainer"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/providers/Microsoft.RecoveryServices/vaults/IDCDemoVault/backupProtectionContainers?api-version=2016-12-01&$filter=backupManagementType%20eq%20%27AzureWorkload%27%20and%20status%20eq%20%27Registered%27
  response:
    body:
      string: '{"value":[{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/IDCDemo/pr[...]
[...]
