interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/shracrg/providers/Microsoft.RecoveryServices/vaults/shracsql/backupProtectionContainers?api-version=2016-12-01&$filter=backupManagementType%20eq%20%27AzureWorkload%27%20and%20friendlyName%20eq%20%27shrac3%27%20and%20status%20eq%20%27Registered%27
  response:
    body:
      string: '{"value":[{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/shracrg/providers/Microsoft.RecoveryServices/vaults/shracsql/backupFabrics/Azure/protectionContainers/VMAppContainer;Compute;shracrg;shrac3","name":"VMAppContainer;Compute;shracrg;shrac3","type":"Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers","properties":{"sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/shracrg/providers/Microsoft.Compute/virtualMachines/shrac3","lastUpdatedTime":"2018-11-30T16:56:14.0933848Z","extendedInfo":{"hostServerName":"shrac3","inquiryInfo":{"status":"Success","errorDetail":{"code":"Success","message":"","recommendations":[""]},"inquiryDetails":[{"type":"SQL","itemCount":698,"inquiryValidation":{"status":"Success","errorDetail":{"code":"Success","message":"","recommendations":[""]}}}]}},"friendlyName":"shrac3","backupManagementType":"AzureWorkload","registrationStatus":"Registered","healthStatus":"Healthy","containerType":"VMAppContainer","protectableObjectType":"VMAppContainer"}}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/shracrg/providers/Microsoft.RecoveryServices/vaults/shracsql/backupProtectionContainers?api-version=2016-12-01&$filter=backupManagementType%20eq%20%27AzureWorkload%27%20and%20status%20eq%20%27Registered%27
  response:
    body:
      string: '{"value":[{"id":"/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/shracrg/provid[...]
[...]
